
body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    line-height: 2;
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
}

input {
    margin: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}

input:hover {
    border: 1.8px solid #646cff
}

button.add-item {
    margin: 10px;
}

button.add-item:hover {
    /*border-color: #646cff;*/
    background-color: rgba(40,58,255,0.18);
}

button.delete-button {
    margin: 5px;
    padding: 0.3em 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 0.8em;
    font-weight: 500;
}

button.completed-button {
    margin: 5px;
    padding: 0.3em 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 0.8em;
    font-weight: 500;
}

.button-group {
    display: flex;
    gap: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-uncompleted {
    margin: 15px 0;
    background-color: rgba(167,154,255,0.15);
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
}


.list {
    margin: 15px 0;
    background-color: #f9f9f9;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
}


/*.list:hover {*/
/*    background-color: rgba(45,65,255,0.11);*/
/*}*/

.todo-item {
    padding: 0.6em 1.2em;

}

.todo-item-completed {
    text-decoration: line-through;
    color: #888888;
}